html {
  overflow: hidden;
}

html,
body {
  margin: 40px;
  display: block;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  color: white;
  font-family: "Gowun Batang", serif;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  margin: 0px;
  margin-left: 10px;
}
ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
}

.animation {
  overflow: hidden;
  height: 180px;
}

.animation > ul {
  animation-name: moveTop;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-delay: 0.2s;
  will-change: transform;
}
@keyframes moveTop {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-26.4%);
  }
  66% {
    transform: translateY(-51.4%);
  }
  100% {
    transform: translateY(-76.3%);
  }
}
li > img {
  margin-bottom: 10px;
  height: 70px;
}
button {
  border: 1px solid white;
  background-color: transparent;
  font-family: "Gowun Batang", serif;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 30px;
  margin-right: 5px;
  color: white;
  cursor: pointer;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  padding: 40px 50px 0px;
  z-index: 2;
}

nav {
  display: none;
  position: fixed;
  top: 38%;
  left: 90%;
  right: 0;
  z-index: 20;
}

nav .selectPage {
  border: none;
  color: gray;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}

header ul li {
  font-size: 1.5rem;
  list-style-type: none;
  float: left;
  margin-left: 20px;
}

.section {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ccc851;
  overflow: hidden;
  text-align: center;
}

article {
  filter: blur(0px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  backdrop-filter: blur(2px);
}

#section1 {
  background: url(./image/main.jpg) no-repeat center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

#section2 {
  background-color: white;
  color: black;
  z-index: 2;
}
#section2 article,
#section5 article {
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 100px;
  font-weight: 400;
}
#section3 {
  color: black;
  text-align: left;
  background-color: #eff4ff;
}
#section4 {
  animation-name: changecolor;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-delay: 0.2s;
  will-change: transform;
}
@keyframes changecolor {
  0% {
    background-color: #d77fa1;
  }
  50% {
    background-color: #ccc851;
  }
  100% {
    background-color: #d77fa1;
  }
}

#section5 {
  background-color: black;
}
#section6 {
  background-color: #3f3fff;
}
.phone_born {
  background: url(./image/sp_intro.798b2085.png);
  background-position: 0 0;
  width: 338px;
  height: 656px;
}
.subBox {
  font-size: 1.3rem;
  margin-left: 50px;
  width: 360px;
  height: 440px;
  background: url(./image/main.jpg) no-repeat center, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  padding: 10px 40px 0px;
  border-radius: 30px;
}

.phone_inner {
  position: relative;
  margin-top: 50px;
  width: 320px;
  height: 640px;
  background: url(./image/sp_intro.798b2085.png);
  background-position: -685px 0;
}
.desc {
  margin: 0 30px 0 30px;
}
.screen_1 {
  position: relative;
  width: 278px;
  height: 602px;
  background: url(./image/sp_intro.798b2085.png);
  background-position: -566px -661px;
  display: none;
}

.screen_2 {
  position: relative;
  width: 278px;
  height: 602px;
  background: url(./image/sp_intro.798b2085.png);
  background-position: -849px -661px;
  display: none;
}

.screen_3 {
  position: relative;
  width: 278px;
  height: 602px;
  background: url(./image/sp_intro.798b2085.png);
  background-position: -1294px 0px;
  display: none;
}

.screen_4 {
  position: relative;
  width: 278px;
  height: 602px;
  background: url(./image/sp_intro.798b2085.png);
  background-position: -1294px -607px;
  display: none;
}

.screen_5 {
  position: relative;
  width: 278px;
  height: 602px;
  background: url(./image/sp_intro.798b2085.png);
  background-position: -1577px 0px;
  display: none;
}

.screen_6 {
  position: relative;
  width: 278px;
  height: 602px;
  background: url(./image/sp_intro.798b2085.png);
  background-position: -1577px -607px;
  display: none;
}

.screen {
  position: absolute;
  left: 7%;
  height: 640px;
  top: 19px;
}

.recommend {
  position: absolute;
  left: 50%;
  width: 100%;
  max-width: 1140px;
  height: 640px;
  margin: 0 auto;
  overflow-x: hidden;
  transform: translateX(-50%);
}

.panel {
  position: absolute;
  left: 0%;
  top: 18%;

  animation-name: moveLeft;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-delay: 0.2s;
  animation-timing-function: linear;
  will-change: transform;
}

@keyframes moveLeft {
  to {
    transform: translateX(-49.4%);
  }
}

#panel-ul {
  display: flex;
}

.panel ul li {
  position: relative;
  flex: 0 0 auto;
  flex-basis: 230px;
  height: 262px;
  margin-right: 20px;
  color: transparent;
  text-indent: 100%;
  transform: translateZ(0);
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}

.panel_1 {
  background-image: url(./image/sp_intro.798b2085.png);
  background-position: 0 -1268px;
  width: 230px;
  height: 262px;
}
.panel_2 {
  background-image: url(./image/sp_intro.798b2085.png);
  background-position: -235px -1268px;
  width: 230px;
  height: 262px;
}
.panel_3 {
  background-image: url(./image/sp_intro.798b2085.png);
  background-position: -470px -1268px;
  width: 230px;
  height: 262px;
}
.panel_4 {
  background-image: url(./image/sp_intro.798b2085.png);
  background-position: -705px -1268px;
  width: 230px;
  height: 262px;
}
.panel_5 {
  background-image: url(./image/sp_intro.798b2085.png);
  background-position: -940px -1268px;
  width: 230px;
  height: 262px;
}
.panel_6 {
  background-image: url(./image/sp_intro.798b2085.png);
  background-position: -1175px -1268px;
  width: 230px;
  height: 262px;
}
.character {
  position: relative;
  width: 278px;
  height: 602px;
}
.character_1 {
  background: url(./image/sp_intro.798b2085.png);
  background-position: -1011px 0;
  display: none;
}
.character_2 {
  background: url(./image/sp_intro.798b2085.png);
  background-position: 0 -661px;
  display: none;
}
.character_3 {
  background: url(./image/sp_intro.798b2085.png);
  background-position: -283px -661px;
  display: none;
}
.background_thumbs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  will-change: opacity;
}
.background_thumb {
  position: absolute;
  background-color: #171717;
  border-radius: 6px;
  transition: all 0.5s;
  transform: translate(0);
  overflow: hidden;
  will-change: transform;

  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
.background_thumb:first-child {
  animation-name: chracterBgMove1;
  transform: scale(0.79);

  bottom: 340px;
  left: 25px;
  width: 220px;
  height: 220px;

  background: url(./image/sp_intro.798b2085.png);
  background-position: -1410px -1268px;
}
@keyframes chracterBgMove1 {
  80% {
    transform: scale(0.79) translate(-105px, -10px);
  }
}
.background_thumb:nth-child(2) {
  animation-name: chracterBgMove2;
  transform: scale(0.65);

  bottom: 466px;
  left: 150px;
  width: 220px;
  height: 220px;

  background: url(./image/sp_intro.798b2085.png);
  background-position: -1635px -1268px;
}
@keyframes chracterBgMove2 {
  80% {
    transform: scale(0.65) translate(-155px);
  }
}
.background_thumb:nth-child(3) {
  animation-name: chracterBgMove3;
  filter: blur(1px);
  transform: scale(0.4);

  bottom: 430px;
  left: 360px;
  width: 220px;
  height: 220px;

  background: url(./image/sp_intro.798b2085.png);
  background-position: 0 -1535px;
}
@keyframes chracterBgMove3 {
  80% {
    transform: scale(0.65) translate(-95px);
  }
}
.background_thumb:nth-child(4) {
  animation-name: chracterBgMove4;
  transform: scale(1);

  bottom: 180px;
  left: 415px;
  width: 220px;
  height: 220px;

  background: url(./image/sp_intro.798b2085.png);
  background-position: -225px -1535px;
}
@keyframes chracterBgMove4 {
  80% {
    transform: scale(1.2) translate(-20px, -10px);
  }
}
.background_thumb:nth-child(5) {
  animation-name: chracterBgMove5;
  transform: scale(0.75);

  bottom: 460px;
  right: 405px;
  width: 220px;
  height: 220px;

  background: url(./image/sp_intro.798b2085.png);
  background-position: -450px -1535px;
}
@keyframes chracterBgMove5 {
  80% {
    transform: scale(0.79) translate(55px, -10px);
  }
}
.background_thumb:nth-child(6) {
  animation-name: chracterBgMove6;
  transform: scale(0.36);
  filter: blur(1.5px);

  bottom: 160px;
  right: 345px;
  width: 220px;
  height: 220px;

  background: url(./image/sp_intro.798b2085.png);
  background-position: -675px -1535px;
}
@keyframes chracterBgMove6 {
  80% {
    transform: scale(0.45) translate(95px, -20px);
  }
}
.background_thumb:nth-child(7) {
  animation-name: chracterBgMove7;
  filter: blur(0.5px);
  transform: scale(0.5);

  bottom: 230px;
  right: 280px;
  width: 220px;
  height: 220px;

  background: url(./image/sp_intro.798b2085.png);
  background-position: -900px -1535px;
}
@keyframes chracterBgMove7 {
  80% {
    transform: scale(0.65) translate(95px, -20px);
  }
}
.background_thumb:nth-child(8) {
  animation-name: chracterBgMove8;
  transform: scale(0.86);

  bottom: 435px;
  right: 30px;
  width: 220px;
  height: 220px;

  background: url(./image/sp_intro.798b2085.png);
  background-position: -1125px -1535px;
}
@keyframes chracterBgMove8 {
  80% {
    transform: scale(1) translate(125px, -20px);
  }
}
.phone_wrap {
  position: relative;
  min-width: 955px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.cont_inner_horizontal,
.cont_inner_vertical {
  display: flex;
  align-items: center;
}
.cont_inner_vertical {
  flex-direction: column;
  justify-content: center;
  min-height: 1142px;
}
.voucher {
  margin-top: 3.2258vh;
  margin-bottom: 8.0645vh;
  color: #fff;
}
.voucher > dl {
  position: relative;
  display: inline-block;
  width: 230px;
  padding: 184px 40px 38px;
  text-align: left;
}

.voucher > dl::before {
  content: "";
  position: absolute;
  left: 40px;
  top: 16px;
  display: block;
}

.item_down::before {
  background-image: url(./image/sp_intro.798b2085.png);
  background-position: -1197px -793px;
  width: 60px;
  height: 60px;
}

.item_all::before {
  background-image: url(./image/sp_intro.798b2085.png);
  background-position: -1132px -793px;
  width: 60px;
  height: 60px;
}
.item_mobile::before {
  background-image: url(./image/sp_intro.798b2085.png);
  background-position: -1132px -858px;
  width: 60px;
  height: 60px;
}
.price {
  position: absolute;
  left: 40px;
  top: 94px;
  color: transparent;
  text-indent: 100%;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}

.item_down > dt > .price {
  background-image: url(./image/sp_intro.798b2085.png);
  background-position: -1350px -1535px;
  width: 230px;
  height: 60px;
}

.item_all > dt > .price {
  background-image: url(./image/sp_intro.798b2085.png);
  background-position: -1585px -1535px;
  width: 230px;
  height: 60px;
}

.item_mobile > dt > .price {
  background-image: url(./image/sp_intro.798b2085.png);
  background-position: -1350px -1600px;
  width: 230px;
  height: 60px;
}
.share {
  width: 100%;
  border-top: 1px solid #3634ea;
  padding: 6.1492vh 0 6.1492vh 0;
  text-align: center;
}

dt {
  color: black;
  margin-bottom: 12px;
  padding-left: 10px;
  font-size: 1.2rem;
  line-height: 23px;
}
dd {
  color: black;
  margin-inline-start: 10px;
  margin-bottom: 0px;
  font-size: 0.75rem;
  line-height: 23px;
  opacity: 0.5;
}
.btn_voucher {
  border: none;
  display: block;
  width: 300px;
  height: 60px;
  margin: 3.8306vh auto 0;
  padding-top: 1px;
  font-size: 25px;
  line-height: 60px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  background-color: #07072c;
}
.share > button {
  border: none;
  display: inline-block;
  margin: 0 18px;
  color: transparent;
  text-indent: 100%;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}

.btn_facebook {
  background-image: url(./image/sp_intro.798b2085.png);
  background-position: -1132px -661px;
  width: 60px;
  height: 61px;
}
.btn_instagram {
  background-image: url(./image/sp_intro.798b2085.png);
  background-position: -1197px -661px;
  width: 60px;
  height: 61px;
}
.btn_twitter {
  background-image: url(./image/sp_intro.798b2085.png);
  background-position: -1132px -727px;
  width: 60px;
  height: 61px;
}
.btn_youtube {
  background-image: url(./image/sp_intro.798b2085.png);
  background-position: -1197px -727px;
  width: 60px;
  height: 61px;
}

.current {
  display: block;
}
