html {
  overflow: hidden;
}

html,
body {
  margin: 40px;
  display: block;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  color: white;
  font-family: "Gowun Batang", serif;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  margin: 0px;
  margin-left: 10px;
}
button {
  border: 1px solid white;
  background-color: transparent;
  font-family: "Gowun Batang", serif;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 30px;
  margin-right: 5px;
  color: white;
  cursor: pointer;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  padding: 40px 50px 0px;
  z-index: 2;
}

nav {
  display: none;
  position: fixed;
  top: 40%;
  left: 80%;
  right: 0;
  z-index: 2;
}

nav li {
  list-style-type: none;
}

nav .selectPage {
  border: none;
  background-color: transparent;
  font-size: 3rem;
  cursor: pointer;
}

header ul li {
  font-size: 1.5rem;
  list-style-type: none;
  float: left;
  margin-left: 20px;
}

.section {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ccc851;
}

article {
  filter: blur(0px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  backdrop-filter: blur(2px);
}

#section1 {
  background: url(./image/main.jpg) no-repeat center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}
.subBox {
  font-size: 1.3rem;
  margin-left: 50px;
  width: 402px;
  height: 458px;
  background: url(./image/main.jpg) no-repeat center, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  padding: 10px 40px 0px;
  border-radius: 30px;
}

.musicList {
  width: 500px;
  display: flex;
  margin: 30px 0px 15px 0px;
}

.musicList > p {
  font-weight: 400;
  display: block;
  margin: 0px;
  margin-left: 10px;
}
.subBox > .musicList > img {
  justify-content: center;
  align-content: center;
  width: 65px;
  height: 65px;
}
